<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "UA-145358157-1")
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>eliosin Mixins</title>
    <meta
      name="description"
      content="No-effort, off-the-grid, auto-scaling, classless css wireframe in SASS with a light footprint for people who can&#39;t be arsed."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css" />
  </head>

  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png" />
        <b>god</b>
      </a>

      <a href="#all_are_judged"> `all_are_judged`</a>

      <a href="#colorize_god"> `colorize_god`</a>

      <a href="#colorize_link"> `colorize_link`</a>

      <a href="#condemn_sinner"> `condemn_sinner`</a>

      <a href="#cosy"> `cosy`</a>

      <a href="#debug_show"> `debug_show`</a>

      <a href="#fixed_height"> `fixed_height`</a>

      <a href="#fixed_width"> `fixed_width`</a>

      <a href="#forgive_sinner"> `forgive_sinner`</a>

      <a href="#full"> `full`</a>

      <a href="#heading_sizes"> `heading_sizes`</a>

      <a href="#loose"> `loose`</a>

      <a href="#pillar_border"> `pillar_border`</a>

      <a href="#pillar_containment"> `pillar_containment`</a>

      <a href="#pillar_padding"> `pillar_padding`</a>

      <a href="#pillar_toolbar"> `pillar_toolbar`</a>

      <a href="#pillaraged"> `pillaraged`</a>

      <a href="#polite"> `polite`</a>

      <a href="#sinner_toolbar"> `sinner_toolbar`</a>

      <a href="#tight"> `tight`</a>

      <a href="#tight_and_cosy"> `tight_and_cosy`</a>

      <hr />

      <a href="/eliosin">
        <img src="/eliosin/apple-touch-icon.png" />
        <b>eliosin</b>
      </a>

      <nav></nav>
    </nav>

    <h1 id="eliosin-mixins">eliosin Mixins</h1>
    <p>A list of <strong>god</strong>&#39;s mixins.</p>
    <h2 id="all_are_judged"><code>all_are_judged</code></h2>
    <p>Master styling for believers.</p>
    <pre><code class="language-scss">/*
@param {%} $w width
@param {UNIT} $pv padding-vertically
@param {%} $pl padding-horizontally
*/
</code></pre>
    <h3 id="example">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include all_are_judged(40%, 4px, 3%);
}
</code></pre>
    <h3 id="outputs">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  box-sizing: border-box !important;
  display: inline-block;
  margin: 0 0 4px !important;
  padding: 4px 3% !important;
  width: 40% !important;
}
</code></pre>
    <h2 id="colorize_god"><code>colorize_god</code></h2>
    <p>Utility to add background and foreground color to any tag.</p>
    <pre><code class="language-scss">/*
@param {STR} $bgc background-color
@param {STR} $c color
@param {STR} $bc border-color
*/
</code></pre>
    <h3 id="example-1">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include colorize_god(red, white, blue solid 1px);
}
</code></pre>
    <h3 id="outputs-1">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1 a,
body &gt; h2 a,
body &gt; p a {
  background-color: red;
  border: blue solid 1px;
  color: white;
}
</code></pre>
    <h2 id="colorize_link"><code>colorize_link</code></h2>
    <p>Utility to create link colors from one primary color.</p>
    <pre><code class="language-scss">/*
@param {STR} $c color
*/
</code></pre>
    <h3 id="example-2">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include colorize_link(red);
}
</code></pre>
    <h3 id="outputs-2">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1 a,
body &gt; h2 a,
body &gt; p a {
  color: #990000 !important;
  &amp;:visited {
    color: #990000 !important;
  }

  &amp;:hover {
    color: red !important;
  }

  &amp;:active {
    color: cyan !important;
  }
}
</code></pre>
    <h2 id="condemn_sinner"><code>condemn_sinner</code></h2>
    <p>Master style for tags in hell.</p>
    <pre><code class="language-scss">/*
@param {%} $w width
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
*/
</code></pre>
    <h3 id="example-3">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include condemn_sinner(40%, 4px, 3%);
}
</code></pre>
    <h3 id="outputs-3">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  padding: 4px 3% 0 3% !important;
  width: 40% - (2% + 2%) !important;
  margin-top: 0 !important;
  margin-bottom: 1% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  break-before: always;
  display: inline-block;
  clear: left;
  float: left;
  text-align: left;
}
</code></pre>
    <h2 id="cosy"><code>cosy</code></h2>
    <p>Media widths for medium screen. Uses media-width settings.</p>
    <h3 id="example-4">Example</h3>
    <pre><code class="language-scss">body {
  @include cosy {
    font-size: 100%;
  }
}
</code></pre>
    <h3 id="outputs-4">Outputs</h3>
    <pre><code class="language-scss">body {
  @media screen and (min-width: 900px + 1px) and (max-width: 1200px) {
    font-size: 100%;
  }
}
</code></pre>
    <h2 id="debug_show"><code>debug_show</code></h2>
    <p>Makes an element stand out on the page for debugging.</p>
    <h3 id="example-5">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include debug_show());
}
</code></pre>
    <h3 id="outputs-5">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  background-color: red;
  color: white;
  border: blue solid 1px;
}
</code></pre>
    <h2 id="fixed_height"><code>fixed_height</code></h2>
    <p>Fix a tag height.</p>
    <pre><code>/*
@param {UNIT} $sz fixed height
*/
</code></pre>
    <h3 id="example-6">Example</h3>
    <pre><code class="language-scss">body &gt; .adonToolBar {
  @include fixed_height(123px);
}
</code></pre>
    <h3 id="outputs-6">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  height: 123px !important;
  min-height: 123px !important;
  max-height: 123px !important;
}
</code></pre>
    <h2 id="fixed_width"><code>fixed_width</code></h2>
    <p>Fix a tag height.</p>
    <pre><code>/*
@param {UNIT} $sz fixed width
*/
</code></pre>
    <h3 id="example-7">Example</h3>
    <pre><code class="language-scss">body &gt; .adonToolBar {
  @include fixed_width(123px);
}
</code></pre>
    <h3 id="outputs-7">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  width: 123px !important;
  min-width: 123px !important;
  max-width: 123px !important;
}
</code></pre>
    <h2 id="forgive_sinner"><code>forgive_sinner</code></h2>
    <p>Master style for tags in heaven.</p>
    <pre><code class="language-scss">/*
@param {%} $w width
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
@param {%} $m margin
@param {UNIT} $b border
*/
</code></pre>
    <h3 id="example-8">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include forgive_sinner(40%, 2%, 1%);
}
</code></pre>
    <h3 id="outputs-8">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  padding: 6px 2% 0 2% !important;
  width: 40% - (2% + 2%) !important;
  margin-top: 0 !important;
  margin-bottom: 1% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  break-before: always;
  break-before: always !important;
  clear: right;
  float: right;
  text-align: right;
}
</code></pre>
    <h2 id="full"><code>full</code></h2>
    <p>Media widths for full screen. Uses media-width settings.</p>
    <h3 id="example-9">Example</h3>
    <pre><code class="language-scss">body {
  @include full {
    font-size: 100%;
  }
}
</code></pre>
    <h3 id="outputs-9">Outputs</h3>
    <pre><code class="language-scss">body {
  @media screen and (min-width: 1600px) {
    font-size: 100%;
  }
}
</code></pre>
    <h2 id="heading_sizes"><code>heading_sizes</code></h2>
    <p>Master style for heading spreads</p>
    <pre><code class="language-scss">/*
@param {LIST} $fontzy A list of 6 heading sizes
*/
</code></pre>
    <h3 id="example-10">Example</h3>
    <pre><code class="language-scss">body &gt; {
  @include heading_sizes(600% 500% 400% 300% 200% 100%);
}
</code></pre>
    <h3 id="outputs-10">Outputs</h3>
    <pre><code class="language-scss">body p {
  h1 {
    font-size: 600%;
  }
  h2 {
    font-size: 500%;
  }
  h3 {
    font-size: 400%;
  }
  h4 {
    font-size: 300%;
  }
  h5 {
    font-size: 200%;
  }
  h6 {
    font-size: 100%;
  }
}
</code></pre>
    <h2 id="loose"><code>loose</code></h2>
    <p>Media widths for large screen. Uses media-width settings.</p>
    <h3 id="example-11">Example</h3>
    <pre><code class="language-scss">body {
  @include loose {
    font-size: 100%;
  }
}
</code></pre>
    <h3 id="outputs-11">Outputs</h3>
    <pre><code class="language-scss">body {
  @media screen and (min-width: 600px + 1px) and (max-width: 90px) {
    font-size: 100%;
  }
}
</code></pre>
    <h2 id="pillar_border"><code>pillar_border</code></h2>
    <p>Padding style to contain a pillar.</p>
    <p>
      Apply vertical padding as the margin between tags, and horizontal padding
      to pad between the pillar and the believers.
    </p>
    <pre><code class="language-scss">/*
@param {UNIT} $pv padding-top padding-bottom
@param {%} $ph padding-left padding-right
*/
</code></pre>
    <h3 id="example-12">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include pillar_border(false, green solid 1px);
}
</code></pre>
    <h3 id="outputs-12">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  border-right: green solid 1px !important;
}
</code></pre>
    <h2 id="pillar_containment"><code>pillar_containment</code></h2>
    <p>Margin style to contain a pillar.</p>
    <p>
      Using left and right margins as percentages to fix the column, with no
      vertical margin.
    </p>
    <pre><code class="language-scss">/*
@param {%} $ml margin-left
@param {%} $mr margin-right
*/
</code></pre>
    <h3 id="example-13">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include pillar_containment(30%, 30%);
}
</code></pre>
    <h3 id="outputs-13">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  margin: 0 30% 0 30% !important;
}
</code></pre>
    <h2 id="pillar_padding"><code>pillar_padding</code></h2>
    <p>Padding style to contain a pillar.</p>
    <p>
      Apply vertical padding as the margin between tags, and horizontal padding
      to pad between the pillar and the believers.
    </p>
    <pre><code class="language-scss">/*
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
*/
</code></pre>
    <h3 id="example-14">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include pillar_padding(0, 3%);
}
</code></pre>
    <h3 id="outputs-14">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  padding: 0 3% !important;
}
</code></pre>
    <h2 id="pillar_toolbar"><code>pillar_toolbar</code></h2>
    <p>Convert a pillar to a toolbar. Toolbars are created by js.</p>
    <pre><code class="language-scss">/*
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
*/
</code></pre>
    <h3 id="example-15">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include pillar_toolbar(4px, 3%);
}
</code></pre>
    <h3 id="outputs-15">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  max-height: 32px !important;
  text-align: right !important;
  padding-right: 3% !important;
  padding-top: 4px !important;
  font-size: 100% !important;
  margin-bottom: 0 !important;
}
</code></pre>
    <h2 id="pillaraged"><code>pillaraged</code></h2>
    <p>A column of tags forming a vertical pillar on the web page.</p>
    <pre><code class="language-scss">/*
@param {%} $ml margin-left
@param {%} $mr margin-right
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
*/
</code></pre>
    <h3 id="example-16">Example</h3>
    <pre><code class="language-scss">body &gt; $pillar {
  @include pillaraged(20%, 40%, 4px, 3%);
}
</code></pre>
    <h3 id="outputs-16">Outputs</h3>
    <pre><code class="language-scss">body &gt; h1,
body &gt; h2,
body &gt; p {
  margin: 0 20% 0 40% !important;
  &gt; ol,
  &gt; ul {
    padding-left: 3%;
    padding-right: 3%;
  }
  padding: 4px 3% !important;
  display: block;
  float: none;
}
</code></pre>
    <h2 id="polite"><code>polite</code></h2>
    <p>Utility to zero the border, margin and padding of a believer.</p>
    <pre><code class="language-scss">/*
@param {STR} $sz unit size
*/
</code></pre>
    <h3 id="example-17">Example</h3>
    <pre><code class="language-scss">h1 {
  @include polite();
}
</code></pre>
    <h3 id="outputs-17">Outputs</h3>
    <pre><code class="language-scss">h1 {
  border: none !important;
  margin: 0;
  padding: 0;
}
</code></pre>
    <h2 id="sinner_toolbar"><code>sinner_toolbar</code></h2>
    <p>Style a toolbar for any believer. Toolbars are created by js.</p>
    <pre><code class="language-scss">/*
@param {UNIT} $pv padding-vertically
@param {%} $ph padding-horizontally
*/
</code></pre>
    <h3 id="example-18">Example</h3>
    <pre><code class="language-scss">body &gt; $hell {
  @include sinner_toolbar(4px, 3%);
}
</code></pre>
    <h3 id="outputs-18">Outputs</h3>
    <pre><code class="language-scss">body &gt; nav,
body &gt; menu {
  font-size: 100% !important;
  margin-bottom: 0 !important;
  max-height: 36px !important;
  max-width: 36px !important;
  padding: 4px 3% !important;
  text-align: center !important;
}
</code></pre>
    <h2 id="tight"><code>tight</code></h2>
    <p>Media widths for small screen. Uses media-width settings.</p>
    <h3 id="example-19">Example</h3>
    <pre><code class="language-scss">body {
  @include tight {
    font-size: 100%;
  }
}
</code></pre>
    <h3 id="outputs-19">Outputs</h3>
    <pre><code class="language-scss">body {
  @media screen and (max-width: 600px) {
    font-size: 100%;
  }
}
</code></pre>
    <h2 id="tight_and_cosy"><code>tight_and_cosy</code></h2>
    <p>Media widths for small to medium screen. Uses media-width settings.</p>
    <h3 id="example-20">Example</h3>
    <pre><code class="language-scss">body {
  @include tight_and_cosy {
    font-size: 100%;
  }
}
</code></pre>
    <h3 id="outputs-20">Outputs</h3>
    <pre><code class="language-scss">body {
  @media screen and (min-width: 600px + 1px) and (max-width: 1200px) {
    font-size: 100%;
  }
}
</code></pre>

    <footer>
      <a href="https://gitlab.com/eliosin/god/">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-god-logo.png" />
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
