aside {
  @include colorize_god(black, white);
  font-size: $god-p;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  dl {
    padding: 0;
    margin: 0;
    dt {
      padding-left: 22px;
        text-indent: -22px;
    }
  }
  @media (max-width: $god-tight) {
    font-size: $god-spoke;
  }
}
