article {
  margin-top: $personal-space;
  padding: 0;
  a {
    &:hover {
      color: $hell-color;
      background: $god-color;
    }
    border: $god-border;
    border-radius: $personal-space;
    align-items: top;
    color: $god-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $personal-space;
    img {
      height: 100px;
      width: auto;
      flex-grow: 0;
    }
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      padding: $inline-padding;
      h4 {
        @include polite();
        font-size: $god-spoke;
        font-style: normal;
        font-weight: bold;
      }
      p {
        @include polite();
        a {
          float: right;
        }
      }
    }
  }
}
