button {
  &:hover {
    a {
      color: $hell-color !important;
    }
  }
  margin-top: $inline-padding;
  padding: $inline-padding;
  width: $pillar-width;
  > img {
    width: 100%;
    height: auto;
  }
}
