@import "blockquote/settings";
// LAYOUT ==================
$god-space: 2%; // the left right padding in all the prongs.
$heaven-width: 30%; // prong width right (as a percentage to help scaling).
$hell-width: 30%; // prong width left (as a percentage to help scaling).
$personal-space: 18px; // the top bottom padding between believers.
$transition: 600ms;
$pillar-width: 100% - $god-space - $god-space - $heaven-width - $hell-width;
// MEDIA BREAKS ==================
$god-loose: 1300px; // loose - prongs divided - no overlap.
$god-cosy: 1000px; // cosy - overlap between sinners and the pillar.
$god-tight: 800px; // tight - believers full width - piller width small margin.
$heaven-cosy: 10%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 10%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 50%; // cosy - allow the pillar width to grow by this amount.
// COLORS =================1
$heaven-color: black;
$pillar-color: black;
$hell-color: lighten($heaven-color, 85);
$god-color: $pillar-color;
$god-blushed: lightgrey;
// TEXT ==================
$god-h1: 4vmax; // font size of h1.
$god-h6: 2vmax; // font size of h6.
$god-p: 100%; // font size of paragraph text.
$god-spoke: $god-p * 1.4; // standout with big text.
$god-head: "Montserrat"; // for heading level text.
$god-body: $god-head; // for body level text.
// BASICS ==================
$god-border: 1px lighten($pillar-color, 50) solid; // general purpose border
$inline-padding: 6px;
$toothpaste-color: "none";
// BELIEVERS ==================
$container: (body); // sin classes only affect direct children of these
$pillar: (
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  ul,
  ol,
  pre,
  div,
  article,
  button,
  h1
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (aside, address); // hangs right - gets the best views.
$hell: (figure, nav, blockquote); // hangs left.
