menu {
  @include colorize_god($heaven-color, $god-blushed);
  @include innocent_menus(12px, 48px);

  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  padding-left: 0;
  top: 0;
  z-index: 5000;

  // Flex version to vertical align menu items.
  flex: initial;
  justify-content: space-between;
  align-items: center;
  display: flex;

  a,
  nav {
    // Flex version to vertical align menu items.
    flex-grow: 0;
  }

  a,
  label {
    color: $god-blushed;
    border-radius: 6px;

    &:hover {
      background-color: white;
      color: black;
    }

    &[active] {
      background-color: white;
      color: black;
    }
  }

  > nav {
    > a,
    > label {
      border-radius: 0;
    }
  }

  nav > nav {
    a,
    label {
      padding: $personal-space;
      margin: $inline-padding;
    }
    @include colorize_god($heaven-color, $god-blushed);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0;
    padding-top: $personal-space;
    transition: all $transition;
    transition-timing-function: cubic-bezier(0.5, 0.7, 0, 1);
  }

  @include tight {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
    // Visible
    > nav:hover > nav,
    > menu:hover > menu {
      border-top: 0;
      border-radius: $inline-padding;
      border-bottom: $god-border;
      border-left: $god-border;
      border-right: $god-border;
      z-index: 100000;
    }

    > a {
      flex-grow: 2;
      padding: 6px;
    }
  }
}
